version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    container_name: smartkids_app
    volumes:
      - .:/var/www
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: smartkids_db
    restart: always
    environment:
      MYSQL_DATABASE: smartkids
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
